
@{
    ViewBag.Title = "Contact";
}

<!-- contact-page -->
<div class="contact">
    <div class="container">
        <div class="dreamcrub">
            <ul class="breadcrumbs">
                <li class="home">
                    <a href="/Home/Index" title="Go to Home Page">Home</a>&nbsp;
                    <span>&gt;</span>
                </li>
                <li class="women">
                    Contact
                </li>
            </ul>
            <ul class="previous">
                <li><a href="/Home/Index">Anasayfaya Dön</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="contact-info">
            <h2>Ofisimize Bekleriz</h2>
        </div>
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.1384840253263!2d29.004627715479828!3d41.04410057929704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7a24975fe5d%3A0xa05d7aa13cfcaf89!2sWissen!5e0!3m2!1str!2str!4v1553444226266" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

