@model IEnumerable<Entity.Entity.Advert>

<div class="products-grid" style="min-height:500px;">
    <header>
        <h3 class="head text-center">Son Eklenen Ürünler</h3>
    </header>
    @foreach (var item in Model)
    {
    <div class="col-md-4 product simpleCart_shelfItem text-center">
        <a href="/Home/Single/@item.Id"><img src="/images/@item.Image1" alt="" /></a>
        <div class="mask">
            <a href="/Home/Single/@item.Id">Ürünü İncele</a>
        </div>
        <a class="product_name" href="single.html">@item.ProductName</a>
        <p><img src="~/images/goz.jpg" style="width:20px;" title="Görüntülenme" /><span> @item.Views | </span></p>
        <p><i></i><span class="item_price">@item.Price ₺ </span></p>
    </div>
    }


</div>

